HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Snapshot Testing ###
# Received snapshots are transient comparison files - do NOT commit
src/test/resources/snapshots/received/

# Approved snapshots ARE committed - they are the source of truth
# (This is a reminder, not an ignore rule)
# src/test/resources/snapshots/approved/*.json <- COMMIT THESE
